body{
margin: none;
padding: none;

}
section#labirinto{
width: 100%;
height: 40vw;
background-color: blue;
display: flex;
flex-wrap: wrap;

}

div.Labirinto__Parede{
    width: 4.761904762%;
    height: 6%; 
    background-color: crimson;
    display:block;
}

div.Labirinto__Passagem{
    width: 4.761904762%;
    height: 6%;
 background-color: darkkhaki;
}
div.Labirinto__Start{
    width: 4.761904762%;
    height: 6%;
    background-color: rgb(255, 238, 0);

}
div.Labirinto__Finish{
    width: 4.761904762%;
    height: 6%;
    background-color: rgb(255, 17, 223);

}
