body{
margin: none;
padding: none;

}
section#labirinto{
width: 441px;
height: 300px;
background-color: blue;
display: flex;
flex-wrap: wrap;

}

div.Labirinto__Parede{
width: 21px;
height: 21px;
background-color: crimson;
}

div.Labirinto__Passagem{
 width: 21px;
 height: 21px;
 background-color: darkkhaki;
}
div.Labirinto__Start{
    width: 21px;
    height: 21px;
    background-color: rgb(255, 238, 0);

}
div.Labirinto__Finish{
    width: 21px;
    height: 21px;
    background-color: rgb(255, 17, 223);

}
